<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <ul class="footer-top__socials socials">
        <li><a href="#"><img src="./assets/images/icons/socials-1.svg" alt="Иконка"></a></li>
        <li><a href="#"><img src="./assets/images/icons/socials-2.svg" alt="Иконка"></a></li>
        <li><a href="#"><img src="./assets/images/icons/socials-3.svg" alt="Иконка"></a></li>
        <li><a href="#"><img src="./assets/images/icons/socials-4.svg" alt="Иконка"></a></li>
      </ul>
      <a href="#" class="footer-top__link">198555, Невский пр. 140, офис 140</a>
      <div class="footer-top__info">
        <a href="tel:8(812)1234567" class="phone">8 (812) 123-45-67</a>
        <button class="header__btn btn">Обратный звонок</button>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <span class="footer-bottom__text">Лучший магазин (с) 2019 Все права защищены. Интернет-магазин оборудования для
        салонов красоты</span>
      <a href="#" class="footer-bottom__link">Политика конфиденциальности</a>
    </div>
  </div>
</footer>